<h2 mat-dialog-title>Rename this button!</h2>
<mat-dialog-content>
  <mat-input-container>
    <input matInput type="text" name="log" [(ngModel)]="logText">
  </mat-input-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="logText">Submit</button>
</mat-dialog-actions>
