<form #addressForm="ngForm">
  <div class="form-group row">
    <div class="col-6">
      <mat-input-container>
        <input matInput type="text" name="city" [(ngModel)]="address.city"
                placeholder="City" required>
      </mat-input-container>
    </div>
    <div class="col-6">
      <mat-input-container>
        <input matInput type="text" name="street" [(ngModel)]="address.street"
                placeholder="Street Address" required>
      </mat-input-container>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <mat-input-container>
        <input matInput type="text" [(ngModel)]="address.zip" name="zip" placeholder="Zipcode">
      </mat-input-container>
    </div>
    <div class="col-6">
      <mat-select placeholder="State" floatPlaceholder="never" name="state" [(ngModel)]="address.state">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="form-group d-flex">
    <button mat-raised-button color="primary" class="ml-auto" type="submit">Submit</button>
  </div>
</form>
