<div class="d-flex flex-column">
  <div class="d-flex flex-wrap">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <mat-progress-spinner value="75" color="accent"></mat-progress-spinner>
    <mat-progress-spinner value="25" color="warn"></mat-progress-spinner>
  </div>
  <div class="d-flex flex-column mt-5">
    <mat-progress-bar class="my-2" mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar class="my-2" value="75" color="accent"></mat-progress-bar>
    <mat-progress-bar class="my-2" value="25" color="warn"></mat-progress-bar>
  </div>
</div>
