<div class="about-panel">
  <img src="assets/images/me.jpg"
       class="profile-pic mx-auto mt-3 rounded-circle d-block"/>
  <h2 class="text-center mt-4">Your Name</h2>
  <mat-list>
    <mat-list-item>
      <button href="#" mat-raised-button class="btn-block btn-bitbucket">
        <span class="fa fa-bitbucket"></span> Bitbucket Repos
      </button>
    </mat-list-item>
    <mat-list-item>
      <button href="#" mat-raised-button class="btn-block btn-github">
        <span class="fa fa-github"></span> GitHub Repos
      </button>
    </mat-list-item>
    <mat-list-item>
      <button href="#" mat-raised-button class="btn-block btn-facebook">
        <span class="fa fa-facebook"></span> Facebook
      </button>
    </mat-list-item>
  </mat-list>
  <mat-card class="mx-2 mt-2">
    <mat-card-title-group>
      <mat-card-title>Contact Info</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Email</mat-list-item>
        <mat-list-item>Work Phone</mat-list-item>
        <mat-list-item>Cell Phone</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
