@import "../../assets/scss/mixins.scss";

div.about-panel {
  img {
    &.profile-pic {
      @include shadow;
      max-width: 75%;
    }
  }
  button {
    color: white;
  }
  md-card-title-group {
    border-bottom: 1px solid black;
  }
}
