@import '~bootstrap/scss/bootstrap-grid.scss';

:host {
  position: relative;
}

.site-title {
  font-weight: bold;
}

@include media-breakpoint-up(xs) {
  .site-title {
    font-size: 0.75em;
  }
}

@include media-breakpoint-up(sm) {
  .site-title {
    font-size: 1em;
  }
}

#left-nav-open {
  position: fixed;
  text-align: right;
  left: -2.25em;
  bottom: 50%;
  z-index: 10;
}

#right-nav-open {
  position: fixed;
  text-align: left;
  right: -2.25em;
  bottom: 50%;
  z-index: 10;
}

md-sidenav {
  max-width: 75vw;
}
