<!-- This is the main component to get full height -->
<mat-sidenav-container start="sidenavLeft" end="sidenavRight">
  <!-- Left nav -->
  <mat-sidenav #sidenavLeft align="start">
    <router-outlet name="leftnav"></router-outlet>
  </mat-sidenav>
  <!-- Right nav -->
  <mat-sidenav #sidenavRight align="end">
    <router-outlet name="rightnav"></router-outlet>
  </mat-sidenav>

  <!-- Main toolbar and router outlet -->
  <div id="main-content">
    <!-- Sitewide toolbar -->
    <mat-toolbar color="primary" class="d-flex justify-content-end sticky-top">
      <span class="mr-auto site-title">Angular Material Site</span>
      <button mat-raised-button color="accent">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Main component route -->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<!-- Fixed position sidenav controls -->
<button mat-fab (click)="sidenavLeft.toggle()"
        id="left-nav-open"
        [hidden]="sidenavLeft.opened || sidenavRight.opened">
  <mat-icon>navigate_next</mat-icon>
</button>
<button mat-fab (click)="sidenavRight.toggle()"
        id="right-nav-open"
        [hidden]="sidenavRight.opened || sidenavLeft.opened">
  <mat-icon>navigate_before</mat-icon>
</button>
