<div class="d-flex flex-column">
  <div class="d-flex flex-wrap justify-content-center p-4">
    <mat-card class="mx-2 my-1">
      <mat-card-title>Forms</mat-card-title>
      <mat-card-content>
        <app-address-form></app-address-form>
      </mat-card-content>
    </mat-card>

    <mat-card class="mx-2 my-1">
      <mat-card-title>Progress</mat-card-title>
      <mat-card-content>
        <app-progress></app-progress>
      </mat-card-content>
    </mat-card>

    <mat-card class="mx-2 my-1">
      <mat-card-title>Inputs</mat-card-title>
      <mat-card-content>
        <app-inputs></app-inputs>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <button type="button"
            mat-raised-button (click)="this.openDialog()"
            style="width: 50vw;" color="primary">{{btnName}}</button>
  </div>
</div>
