<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column p-2">
      <label for="cb1">Checkbox 1</label>
      <mat-checkbox id="cb1" color="primary"></mat-checkbox>
      <label for="cb2">Checkbox 2</label>
      <mat-checkbox id="cb2" checked="true" color="primary"></mat-checkbox>
    </div>
    <div class="d-flex flex-column p-2">
      <label for="cb3">Checkbox 3</label>
      <mat-checkbox id="cb3" checked="true" color="accent"></mat-checkbox>
      <label for="cb4">Checkbox 4</label>
      <mat-checkbox id="cb4" checked="true" color="warn"></mat-checkbox>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <mat-radio-group (change)="radioChange($event)"
                    [(ngModel)]="results" labelPosition="before"
                    class="d-flex flex-column">
      <mat-radio-button *ngFor="let res of numResults" [value]="res">{{res }}</mat-radio-button>
    </mat-radio-group>
    <span class="ml-4">Select an option: {{display}}</span>
  </div>
</div>
