<mat-list>
  <mat-list-item>
    <mat-icon mat-list-avatar>settings</mat-icon>
    <span mat-line>Settings</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let setting of settings">
    <mat-slide-toggle [(checked)]="setting.value" color="primary">{{setting.label}}</mat-slide-toggle>
  </mat-list-item>
  <mat-divider class="mb-2"></mat-divider>
  <mat-list-item *ngFor="let slider of sliders">
    <mat-slider [attr.name]="slider.label"
               [(value)]="slider.value">&nbsp;</mat-slider>
    <label for="">{{slider.label}}</label>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div id="vertical-sliders" class="d-flex justify-content-around">
    <div *ngFor="let slider of sliders_v" class="d-flex flex-column align-items-center">
      <mat-slider [attr.name]="slider.label"
                 [(value)]="slider.value"
                 vertical color="warn"></mat-slider>
      <button [matTooltip]="slider.label" matTooltipPosition="above"
              mat-mini-fab color="warn" disableRipple="true">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-list>
